@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin sans", "Arial Narrow", Arial,sans-serif;
}
.main-screen{
height: 100vh;
width:100%;
background: #6983aa;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
}
.center-screen{
background: #f4f4f4;
width: 25%;
height: 80vh;
border-radius: 15px;
box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}

.heading{
  color: white;
  background: transparent;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3)

}

.textinput{
  text-align: center;
  height: 30px;
  top:10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

.btn-cls{
  border-color: transparent;
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #8566aa;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3)
}

.btn-cls:hover{
  background-color: #20bf6b;
  cursor: pointer;
}

.list-style: {
  margin-top: 30px;
}
 .list{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;

 }

 .todo_style .iconstyle{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;


 }

 .todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-items: center;
    background-color: #8566aa;
    border-radius: 50%;
    margin:0 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3 )

 }

 .todo_style .iconstyle:hover{
  background-color: crimson;

 }



 @media(max-width: 768px){
  .center_screen{
    width: 55%;
  }
  

 .todo_style .iconstyle{
  margin:0 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .btn-cls{
margin-left: 5px;
min-height: 40px;
width: 40px;
color: #fff;
font-size: 30px;
 }
}