@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin sans", "Arial Narrow", Arial,sans-serif;
}
.main-screen{
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.main-screen{
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-screen{
  height: 80vh;
  border-radius: 15px;
  width: 25%;
  background-color: #f4f4f4;
  box-shadow:5px 5px 25px -5px rgba(0,0,0,0.5);

}
.heading{
  background: transparent;
background: #3a7bd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
padding: 6px 0 2px 0;
margin-bottom: 10px;
box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);

}
.btn-class{
width: 40px;
border-radius: 50%;
border-color: transparent;
background-color: #8566aa;
font-size: 40px;
background: #3a7bd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border:none;
outline: none;
margin-left: 10px;
box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);

}
.btn-class:hover{
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  cursor: pointer;
}
.inputstyle{
  top:10px;
  text-align: center;
  height: 30px;
  background: transparent;
  border:none;
  font-weight: 500;
  font-size: 20px;
  width:60%;
  border-bottom: 2px solid   #3a7bd5;

  outline: none; 
}
.inputstyle{
  border-bottom: 2px solid #8566aa;
}

.order-list{
  margin-top: 30px;
}

.liststyle{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_style{

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style .fa-times{
    margin: 0 15px 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: #8566aa;
    border-radius: 50%;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px  rgba(0,0,0,0.3)
  }

  .todo_style .fa-times:hover{
    background-color: crimson;
  }
  .todo_style .fa-times:hover .liststyle{
    color: crimson;
  }

@media(max-width: 768px){

  .center-screen{
    width: 55%;
  }

  .todo-style .fa-times{
    margin:0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  
  .todo_style .fa-times:hover{
     background: #cb2d3e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
  }
  
  .btn-class{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;

  }
}
